﻿@model SMETS2.Req.ClassLibrary.Models.RequestTracking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Request Tracking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestGuid" class="control-label"></label>
                <input asp-for="RequestGuid" class="form-control" />
                <span asp-validation-for="RequestGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestReference" class="control-label"></label>
                <input asp-for="RequestReference" class="form-control" />
                <span asp-validation-for="RequestReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestReferenceDate" class="control-label"></label>
                <input asp-for="RequestReferenceDate" class="form-control" />
                <span asp-validation-for="RequestReferenceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestUrl" class="control-label"></label>
                <input asp-for="RequestUrl" class="form-control" />
                <span asp-validation-for="RequestUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/custom-validation.js"></script>
}
