﻿@model SMETS2.Req.ClassLibrary.Models.RequestTracking

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Request Tracking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestGuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestGuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestReferenceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestReferenceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
