﻿@model SMETS2.Req.ClassLibrary.Models.RequestTracking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request Tracking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestGuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestGuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestReferenceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestReferenceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestUrl)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    <a asp-action="Index">Back to List</a>
</div>
