﻿@model PaginatedList<SMETS2.Req.ClassLibrary.Models.RequestTracking>
@*using IEnumerable<SMETS2.Req.ClassLibrary.Models.RequestTracking>*@

@{ ViewData["Title"] = ViewBag.environmentName + " - Request Tracking"; }

<h1>@ViewBag.environmentName - Request Tracking</h1>

@*<p>
    <a asp-action="Create">Create New Route</a>
</p>*@
<br />

<form asp-action="Index" method="get">

    <div class="form-row">
        <div class="col-4">
            <input type="text" class="form-control" name="SearchString" placeholder="Enter RequestGuid or RequestReference" value="@ViewData["CurrentFilter"]">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Search</button> |
            <a asp-action="Index">Back to Full List</a>
        </div>

    </div>
</form>

<br />

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["RequestGuidSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">RequestGuid</a>
            @*<a asp-action="Index" asp-route-sortOrder="@ViewData["RequestGuidSortParm"]">@Html.DisplayNameFor(model => model.RequestGuid)</a>*@
            @*@Html.DisplayNameFor(model => model.RequestGuid)*@
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["RequestReferenceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">RequestReference</a>
            @*<a asp-action="Index" asp-route-sortOrder="@ViewData["RequestReferenceSortParm"]">@Html.DisplayNameFor(model => model.RequestReference)</a>*@
            @*@Html.DisplayNameFor(model => model.RequestReference)*@
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["RequestReferenceDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">RequestReferenceDate</a>
            @*<a asp-action="Index" asp-route-sortOrder="@ViewData["RequestReferenceDateSortParm"]">@Html.DisplayNameFor(model => model.RequestReferenceDate)</a>*@
            @*@Html.DisplayNameFor(model => model.RequestReferenceDate)*@
        </th>
        <th>
            RequestUrl
            @*@Html.DisplayNameFor(model => model.RequestUrl)*@
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestReferenceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestUrl)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }) @*|*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>

