﻿@{
    ViewData["Title"] = ViewBag.environmentName + " SMETS2 Request Tracking";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the</h1>
    <h1 class="display-4">@ViewBag.environmentName</h1>
    <h1 class="display-4">SMETS2 Request Tracking Application</h1>
    <p>Select any of the links at the top</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
